<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070178038337-4i75b4rp7nk2gmirvogc6r2m7h8ghi1s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEvm__KoPJ1qTiUlG7zC4v3lFSsJlSJA</string>
	<key>GCM_SENDER_ID</key>
	<string>1070178038337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inappwebview.Inappwebview</string>
	<key>PROJECT_ID</key>
	<string>gold-plus-8b49a</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-plus-8b49a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070178038337:ios:f5ec693755223ace3d4cc0</string>
</dict>
</plist>